name: Probando test en Python

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Configuracion Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: "3.6"
    - run: |
        sudo apt-get update
        sudo rm /usr/bin/python
        sudo ln -s /usr/bin/python3.6 /usr/bin/python
        sudo apt-get install xvfb
    - name: Dependencias
      run: |
        python -m pip install --upgrade pip
        pip install pandas pytest
        pip install tkcalendar
        pip install pulp
        pip install pytest
        pip install coverage
        pip install coverage-badge
    - name: Test prueba
      run: |
        disp=:1
        screen=0
        geom=640x480x24
        exec Xvfb $disp -screen $screen $geom 2>/tmp/Xvfb.log &
        export DISPLAY=:1
        python3.6 -m coverage run -m pytest ./pruebas/controlador/t_c_parametros.py
        coverage-badge -o coverage.svg
