name: Probando test en Python

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: "3.6"
    - run: |
        sudo apt-get update
        sudo rm /usr/bin/python
        sudo ln -s /usr/bin/python3.6 /usr/bin/python
        sudo apt-get install xvf
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas pytest
        pip install tkcalendar
        pip install pulp
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with pytest
      run: |
        disp=:12
        screen=0
        geom=640x480x24
        exec Xvfb $disp -screen $screen $geom 2>/tmp/Xvfb.log &
        export DISPLAY=:12
        python3.6 -m pytest ./testeo/controlador/t_c_parametros.py
